@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  background-image: url(./image/img-background.png);
  background-size: cover;
  background-repeat: no-repeat;

}



.svg-fechar {
  position: fixed;
  width: 30px;
  height: 30px;
  color: aliceblue;
  cursor: pointer;
  transition: 0.5s;
}

.svg-fechar:hover {
  transform: rotate(-80deg);
}


.svg-fechar {
  position: fixed;
  width: 30px;
  height: 30px;
  color: aliceblue;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.svg-fechar:hover {
  transform: rotate(-80deg);
}


.svg-abrir {
  width: 30px;
  height: 30px;
  color: #006666;
  cursor: pointer;
  transition: 0.5s;
  display: none;
}



h1 {
  color: aliceblue;
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;

}


.linksNav {
  color: #004141;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;

}

.linksNav::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #006666;
  transition: .3s ease-out;
}

.linksNav:hover::after {
  width: 100%;
}

.linksNav:hover {
  color: #404040;
}


.Icons-svg {
  height: 23px;
  width: 23px;
  color: #f5f5f5;
}


.linksNavMobile {
  width: 100vh;
  color: #f5f5f5;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 15px;
}

.linkloginADM {
  color: #004141;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.linkloginADM:hover {
  color: #404040;
}

.Link-voltar {
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
}


@media screen and (max-width:770px) {



  body {
    background-image: none;
    background-color: #006666;
  }
}

.Svg-RelatorioVazio {
  width: 200px;
  height: 200px;
  color: #4F4F4F;
  padding: 20px;

}

.BotaoCriarRelatorio {
  background-image: linear-gradient(to right, #006666, #004141);
  color: #f5f5f5;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  padding: 20px;
  border-radius: 30px;
  font-size: 20px;
  transition: .5s;
  text-decoration: none;
}

.BotaoCriarRelatorio:hover {
  background-image: linear-gradient(to right, #4f4f4f, #8a8a8a);
}

@media screen and (max-width:980px) {
  .svg-abrir {
    display: flex;
  }

  .Svg-RelatorioVazio {
    width: 150px;
    height: 150px;
  }

  .linksNav {
    display: none;
  }
}